@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.css-hyum1k-MuiToolbar-root{
  background-color: #990000 !important;
}
.layoutHeight{
  min-height: 100dvh;
}
/* .css-cveggr-MuiListItemIcon-root{
  min-width: 36px !important;
} */
.css-10hburv-MuiTypography-root{
  font-size: 0.8rem !important;
  text-align: center !important;
}
/* .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border: none !important;
} */