@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.layoutHeight{
  min-height: 100dvh;
}
/* .css-cveggr-MuiListItemIcon-root{
  min-width: 36px !important;
} */

/* .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border: none !important;
} */
