@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

.table-container {
  background-color: #f6f5fa !important;
}

.table-row-gray {
  background-color: #dfdfdf;
  margin-bottom: 0px;
}

.table-row-gray--claro {
  background-color: #f4f3f7;
  margin-bottom: 0px;
}

.table-body {
  font-size: 11px;
}

input {
  font-size: 10px;
}
.inputContainer input{
  width: 400px !important;
}