.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: #9c9c9c;
    align-items: center;
    padding: 5px;
}
.logoBme{
    height: 20px;
}
@media (max-width: 900px) {
    .footer p{
        font-size: 10px;
    }
  }