.css-hyum1k-MuiToolbar-root{
    background-color: #990000 !important;
  }

  .css-10hburv-MuiTypography-root{
    font-size: 0.8rem !important;
    text-align: left !important;
  }
  .css-cvzvqk-MuiButtonBase-root-MuiListItemButton-root{
    gap: 10px;
    align-items: center !important;
  }